header {
    margin-top: 0;  
    padding-bottom: 20px;
}

img {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 10px;
}

#body { 
    height: 700px;
    padding-top: 65px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

#body-about {
    height: 800px;
    padding-top: 65px;
    text-align: left;
}


#box {
    background: #ffffff;
    margin: 10px 250px;;
    padding: 20px; 
    width: 50%;
    display: inline-block;

}

#box h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
}

#box h2 {
    color: #777777;
}

#box button {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
}

#box button:hover {
    background: orange;
    cursor: pointer;
}


#box input {
    color: #777777;
    height: 24px;
    width: 100%;
}

#myname {
    float: left;
    font-size: 30px;
    width: 150px;
    height: 30px;
    background: #4aaaa5;
    color: #ffffff;  
    text-align: center;
    margin-left: 200px;  
    padding-top: 20px;
    padding-bottom: 20px;
}

#topnav {
    float: left;
    width: 100%;
    height: 70px;
    text-align: right;
    background: #ffffff;
    border-style: solid;
    border: #cccccc;
    position: absolute;
    top: 0;
}

#topnav a {
    color: #777777;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding-right: 30px;
}

#topnav div {
    margin-top: 0;
    padding-top: 30px;
}

#aboutme {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 400px;
    margin-left: 200px;
}

#portfolio {
    background: #ffffff;
    color: #4aaaa5;
    padding-top: 5px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 750px;
    margin-left: 200px;
}

#aboutme h1 {
    color: #4aaaa5;
    padding-top: 20px;
    padding-left: 20px;
}

#aboutme p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 4px;

}

.column {
    flex: 50%;
    padding: 5px 4px;
    margin-left: 275px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

#img1 p{
    position: absolute;
    text-align: center;
    float: left;
    width: 200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
}

#img2 p{
    position: absolute;
    text-align: center;
    float: left;
    left: 716px;
    width: 200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
}


#img3 p{
    position: absolute;
    text-align: center;
    float: left;
    width: 200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
}

#img4 p{
    position: absolute;
    text-align: center;
    float: left;
    left: 716px;
    width: 200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
}


#img5 p{
    position: absolute;
    text-align: center;
    float: left;
    width: 200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
}

#img6 p{
    position: absolute;
    text-align: center;
    float: left;
    left: 716px;
    width: 200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
}

.rows img {
    vertical-align: middle;
}


#footer1 {
    background: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}

#footer2 {
    background: #666666;
    height: 80px;
    text-align: center;
    margin-top: 0;
}


